Jan Hohenheim <jan@hohenheim.ch> <contact@jnferner.com>
Mathias Fischler <Mafii@users.noreply.github.com> <mafi@fog.im>
Mathias Fischler <Mafii@users.noreply.github.com> <mathias.fischler@messerli.ch>
Tau Gärtli <git@tau.garden> <4602612+bash@users.noreply.github.com>
Tau Gärtli <git@tau.garden> <git@tau.garden>
Tau Gärtli <git@tau.garden> <ruben.schmidmeister@icloud.com>
Tau Gärtli <git@tau.garden> <ruben.schmidmeister@messerli.ch>
Thomas Bruderer <apophis@apophis.ch> <apophis@apophis.ch>
Thomas Bruderer <apophis@apophis.ch> <thomas.bruderer@messerli.ch>
