<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- This is a workaround for slow restore performance on GitHub's hosted windows runners.
             See: https://github.com/actions/virtual-environments/issues/3577#issuecomment-1013139027 -->
        <clear />

        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <auditSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </auditSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
