name: Build

on:
  push:
    branches: [ master, funcky3 ]
  pull_request:
    branches: [ master, funcky3 ]

env:
  DOTNET_NOLOGO: 1

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      name: Install Current .NET SDK
    - uses: actions/setup-dotnet@v1
      name: 'Install .NET SDK 3.1'
      with:
        dotnet-version: '3.1.x'
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore /p:FodyGenerateXsd=false /p:TreatWarningsAsErrors=true
    - name: Run Tests
      run: dotnet test --configuration Release --no-build
